friends {
  height: 100%;
  background-color: $secondary-color;
  .friends-container {
    width: 18vw;
    height: 100%;
    padding: 8px;
    overflow-y: scroll;
    max-height: 90vh;
  }
  span {
    color: $support-color;
    font-size: 11px;
  }
  img {
    &.active {
      border: 3px solid $success-color;
    }
    &.inactive {
      border: 3px solid lighten($support-color, 28%); 
    }
  }
  .friend {
    display: flex;
    width: 98%;
    margin: 8px 0 0 0;
    padding: 8px 0 8px 5px;
    cursor: pointer;
    img {
      width: 44px;
      height: 44px;
      background: $support-color;
      align-self: center;
      border-radius: 100%;
    }
    .info {
      align-self: center;
      padding-left: 8px;
      p {
        color: white;
        font-weight: 100;
      }
    }
    .last-seen {
      font-size: 11px;
      padding-top: 8px;
    }
    .notification {
      border: 2px solid $warn-color;
      color: $warn-color;
      font-weight: 900;
      padding: 1px;
    }
  }
  .friend:hover {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
}
