$primary-color: #373F51;
$secondary-color: #4b5262;
$tertiary-color: #ebebed; 
$support-color: #C0C0C0; 
$accent-color: #B452FF;
$warn-color: orange; 
$success-color: green;

html {
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background: $tertiary-color;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  letter-spacing: 1px;
  z-index: 1;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 700;
  font-height: 1.25;
  outline: none;
}

h1 {
  font-size: 4.5vw;
}

h2 {
  font-size: 4.1vw;
}

h3 {
  font-size: 3.5vw;
}

h4 {
  font-size: 3vw;
}

h5 {
  font-size: 2.5vw;
}

h6 { 
  font-size: 2vw;
}

input, textarea {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background: $tertiary-color;
  font-size: 16px;
  &::placeholder {
    color: $support-color;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
  }
}

a {
  color: $accent-color;
  text-decoration: none;
  font-weight: 400;
  word-break: break-word;
}

button {
  margin: 8px 0;
  padding: 24px 64px;
  border-radius: 3px;
  color: white;
  border: none;
  outline: none;
  font-weight: 200;
  cursor: pointer;
  &[disabled] {
    background: $support-color;
  }
}

.loader {
  position: absolute;
  border: 10px solid white;
  border-radius: 50%;
  border-top: 10px solid $secondary-color;
  border-bottom: 10px solid $secondary-color;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@import 'components/nav';
@import 'components/friends';
@import 'components/dash';
@import 'views/profile';
@import 'components/profileDetails';
@import 'components/account';
@import 'views/landing';
@import 'components/search';
@import 'components/upload';
@import 'components/requests';
@import 'views/chat';
