<div class="profile">
  <header [ngStyle]="{ 'background-image': !user.cover_url ? '' : 'url(' + user.cover_url + ')' }">
    <figure class="loader" *ngIf="shouldHide(user.cover_url)"></figure>
    <upload 
      allowd="image/*" kind="cover"
      (path)="user.cover_url = $event"
      *ngIf="user._id === currentUser._id">
    </upload>
    <div class="avatar">
      <img [class]="user.active ? 'active' : 'inactive'"
           [src]="user.avatar_url" *ngIf="user.avatar_url; else loader">
      <span class="status">{{ user.active ? 'online' : 'offline' }}</span>
      <ng-template #loader>
        <figure class="loader"></figure>
      </ng-template>
      <upload allowerd="image/jpeg,image/png"
              *ngIf="user._id === currentUser._id"
              kind="avatar" (path)="onChangeAvatar($event)">
      </upload>
    </div>
  </header>
  <div class="grid">
    <div class="info-col">
      <profile-details [user]="user"
                        [editable]="user._id === currentUser._id">
      </profile-details>
      <requests [user]="user" [currentUser]="currentUser"
                [request]="request" [friend]="friend">
      </requests>
    </div>
  </div>
</div>
